* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  padding: 50px 0px;
}

.hero-section {
  background: url("images/donation10.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
  background-color: #4d4444;
  background-blend-mode: multiply;
}

.hero-info {
  color: white;
  text-align: center;
  padding-top: 200px;
}

.hero-info h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 79px;
  font-family: "Inter", sans-serif;
}

.hero-info p {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
/* hero section end here */
.btn {
  background-color: #ff5959;
  padding: 16px 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* donate section start here */
.donate-amount {
  text-align: center;
}

.donate-amount h1 {
  color: #121212;
  font-size: 45px;
  font-size: bold;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.donate-info {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.amount {
  border-bottom: 1px solid #dadada;
  width: 765px;
  margin: auto;
}

.amount span {
  color: #707070;
  font-weight: bold;
  font-size: 30px;
}

span {
  padding: 30px 20px;
}

.amount-highlight {
  border: 1px solid #ff5959;
  background: #ffeeee;
  border-radius: 5px;
}

.amount p {
  padding-top: 60px;
  color: #b3b3b3;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.donate-plan {
  text-align: center;
}
.donate-plan h1 {
  color: #121212;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.donate-plan p {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.donate-plan-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.donate-amount .btn {
  margin-top: 30px;
}
/* donate section end here */

/* planing card section section start here */
.plan-card {
  width: 360px;
  height: 350px;
  border-radius: 5px;
  padding: 54px 22px;
}

.plan-card img {
  width: 60px;
  height: 50px;
}

.plan-card h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 32px 0px 16px 0px;
}

.plan-card p {
  color: #707070;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
/* planing card section end here */

/* contribute section start here */
.contribution {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contribution-info {
  margin-right: 70px;
  width: 480px;
}

.contribution-info h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.contribution-info .pera-1 {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.contribution-info .pera-2 {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.contribution img {
  border-radius: 5px;
  width: 530px;
  height: 480px;
}
/* contribute section end here */

/* survive section start here */
.survive {
  display: flex;
  align-items: center;
  justify-content: center;
}

.survive img {
  width: 550px;
  border-radius: 5px;
  margin-right: 94px;
  height: 420px;
}

.survive-info {
  width: 450px;
}

.survive-info h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.survive-info .pera-1 {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.survive-info .pera-2 {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
/* survive section end here */

/* form section start here */
.form {
  text-align: center;
}

.form h1 {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.form p {
  font-size: 18px;
  color: #707070;
  line-height: 28px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.form .input {
  background: #fff4d6;
  width: 810px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
}

.input input {
  width: 275px;
  height: 48px;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
  color: #aa9f9f;
  padding-left: 17px;
}

.input button {
  width: 157px;
  height: 48px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
}
/* form section end here */

footer {
  text-align: center;
  background: #0b0d17;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer h2 {
  font-family: "Lobster";
  color: #ff5959;
  font-size: 36px;
  padding-bottom: 24px;
}

footer span {
  color: #d9dbe1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

/* Responsive style */
@media screen and (max-width: 480px) {
  .btn {
    font-size: 14px;
  }
  .container {
    padding: 30px 10px 30px 10px;
  }
  /*  hero section */
  .hero-info {
    padding: 100px 10px 0px 10px;
  }
  .hero-info h1 {
    font-size: 35px;
    line-height: 39px;
  }

  .hero-info p {
    font-size: 14px;
    line-height: 18px;
    padding-top: 15px;
  }

  /* donate amount section */
  .amount {
    border-bottom: 1px solid #dadada;
    width: 365px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  span {
    padding: 20px 10px;
  }

  .amount span {
    width: 150px;
    margin: auto;
  }

  .donate-info {
    font-size: 14px;
  }

  /* Donate plan section */
  .donate-plan-card {
    display: flex;
    flex-direction: column;
  }

  /* Contribution section */
  .contribution {
    display: flex;
    flex-direction: column;
  }

  .contribution-info h1 {
    font-size: 30px;
  }
  .contribution-info .pera-1 {
    font-size: 14px;
  }
  .contribution-info .pera-2 {
    font-size: 14px;
  }

  .contribution-info {
    margin: 0;
    padding: 0;
    width: 400px;
  }

  .contribution img {
    border-radius: 5px;
    width: 390px;
    height: 280px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }

  /* Survive section */
  .survive {
    display: flex;
    flex-direction: column-reverse;
  }

  .survive-info h1 {
    font-size: 30px;
  }
  .survive-info .pera-1 {
    font-size: 14px;
  }
  .survive-info .pera-2 {
    font-size: 14px;
  }

  .survive-info {
    margin: 0;
    padding: 0;
    width: 400px;
  }
  .survive img {
    border-radius: 5px;
    width: 390px;
    height: 280px;
    padding-top: 30px;
    margin: 0;
  }

  /* Form section */
  .form .input {
    width: 350px;
    margin: auto;
  }

  .form h1 {
    font-size: 30px;
  }
  .form p {
    font-size: 14px;
  }

  .input input {
    width: 150px;
    height: 36px;
  }
  .input button {
    width: 80px;
    height: 36px;
  }

  /* Footer section */
  footer {
    width: 100%;
  }
}
